body{
    margin: 0;
    padding: 0;
    font-family: 'Redressed', cursive;}
h1{
    font-size: 50px;
}
.name-highlight{color: rgba(255, 166, 0, 0.884);}
.half-width{width: 37%;
float: left;
margin-left: 5%;
padding-left: 3%;
}
.half-width img{width: 100%;}
.top-banner{background-image:url(top-banner.png);
background-repeat: no-repeat;

}
section{height: 500px;
padding-bottom: 135px;
padding-top: 30px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,rgb(136, 70, 67), rgb(51, 91, 201));
    padding: 10px 20px;
    border-radius: 5px;
    color: rgba(252, 249, 249, 0.993);
    font-weight: 550;
    
    
}
p{color: dimgrey;}
.contact-me{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
} 